@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap');

.App {
  text-align: center;
}

.temperature {
  /* border: 2px dotted gray; */
  font-family: 'Segoe UI';
  font-weight: bold;
  color: black;
  font-size: 18px;
}

.backgroundImage {
  background-image: url('https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.demo-big-content {
  font-size: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: black;
  font-size: 3em;
  padding: 8px;
}

.image {
  margin-left: 140px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 80px;
}

.banner-text {
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-family: 'Dancing Script', cursive;
  color: black;
  font-weight: bold;
}

.banner-text hr {
  border-top: 5px dotted gray;
  width: 50%;
  margin: auto;
}

.banner-text h3 {
  color: black;
  font-size: 30px;
  padding: 1em;
  font-family: 'Segoe UI';
  font-weight: bold;
}

.banner-text p {
  font-size: 30px;
}

.developer {
  margin-top: 20px;
}

.banner-text .skills {
  font-size: 20px;
  margin-top: 25px;
}

.skills span {
  font-weight: bold;
}
.projects-grid {
  color: black;
  font-size: 30px;
  padding: 1em;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*språkkunskaper*/
.språk h1 {
  color: black;
  font-size: 20px;
  font-family: 'Segoe UI';
  display: flex;
  justify-content: left;
  align-items: left;
}

.språk {
  background-image: url('backgroundImage.jpg');
  position: fixed;
  left: 0;
  padding-left: 50px;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
}

/*utbildning page css*/
.utbildning h1 {
  font-family: 'Dancing Script', cursive;
}

.utbildning {
  display: flex;
  flex-direction: column;
  min-width: 60px;
  z-index: 100;
}

.utbildning-list {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}

.info-utbildning i {
  color: black;
  font-size: 1em;
  padding: 8px;
}

/*contact page css*/
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 700px;
  font-family: 'Dancing Script', cursive;
}
.contact-grid p {
  font-size: 1rem;
  font-family: 'Segoe UI';
  padding-top: 2rem;
}

.contact-list {
  font-size: 20px;
}

.title {
  padding-top: 1em;
  font-size: 50px;
}

.title h2 {
  font-family: 'Dancing Script', cursive;
  color: black;
  font-weight: bold;
}

.title p {
  font-size: 20px;
  display: left;
  padding-top: 15px;
}

.title i {
  font-size: 20px;
}

/*Arbetslivserfarenhet page css*/
.arbetslivserfarenhet h1 {
  font-family: 'Dancing Script', cursive;
}

.arbetslivserfarenhet {
  display: flex;
  flex-direction: column;
  min-width: 60px;
  z-index: 100;
}

.arbetslivserfarenhet-list {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}

.erfarenhet-social-links i {
  color: black;
  padding: 15px;
}

.date {
  color: blue;
}

/* Tablet view */
@media only screen and (min-width: 768px) {
  .image {
    margin-left: 0px;
    width: 150px;
    height: 150px;
  }

  .banner-text h1 {
    font-size: 30px;
    font-family: 'Segoe UI';
  }

  .banner-text p {
    font-size: 30px;
    font-family: 'Segoe UI';
  }

  .banner-text h3 {
    font-size: 20px;
    padding: 1em;
    font-family: 'Segoe UI';
  }
  .arbetslivserfarenhet h1 {
    font-size: 30px;
  }
  .utbildning h1 {
    font-size: 30px;
  }
}

/* Mobile view */
@media only screen and (max-width: 767px) {
  .backgroundImage {
    /* background-image: none; */
  }

  .image {
    margin-left: 0px;
    width: 130px;
    height: 130px;
  }

  .banner-text h1 {
    font-size: 30px;
    font-family: 'Segoe UI';
  }

  .banner-text h3 {
    font-size: 15px;
    padding: 1em;
    font-family: 'Segoe UI';
  }

  .social-links i {
    font-size: 2em;
  }

  .arbetslivserfarenhet h1 {
    font-size: 30px;
  }

  .erfarenhet-social-links {
    font-size: 20px;
  }

  .utbildning {
    height: 90vh;
  }

  .utbildning-list {
    font-size: 5px;
    z-index: 200;
  }

  .utbildning h1 {
    font-size: 30px;
  }

  .projects-grid {
    color: black;
    font-size: 10px;
    padding: 0;
    display: flex;
    min-width: 100px;
  }

  .språk h1 {
    font-size: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: 'Segoe UI';
    margin-left: 30px;
  }

  .språk h2 {
    font-size: 20px;
  }

  .title h2 {
    font-size: 30px;
  }

  .contactInfo {
    font-size: 10px;
  }

  .språk {
    padding-left: 10px;
    padding-top: 50px;
  }
}
